.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .community-header {
    margin-top: 30px;
    text-align: center;
  }
  
  .middle {
    margin-top: 30px;
    align-self: flex-start;
    margin-left: 50px; /* Adjust margin as needed */
  }
  
  .main-community

  {
    display: flex;
    align-self: flex-start;
    margin-top: 25px;
    justify-content: center;
 
    flex-wrap: wrap;
    margin-left: 100px;
  }
.community
{
    width: 250px; /* Adjust the width of each community item */
  margin: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 30px;
    
}
.community:hover
{
    background-color: rgb(206, 205, 205);
}
.community-info
{
    display: inline-block;
    margin-left: 10px;
}
  .community-icon
  {
    width: 65px;
    height: 65px;
  }