.Yourposts-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}
.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post-cards {
    border: 1px solid #ccc; /* Example border for post cards */
    padding: 20px; /* Example padding for post cards */
  }
  .posts-image
  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }